.header {
    text-align: center;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    font-size: 32px;

    color: #FFFFFF;
}
#backbody{
    background-color: #C8C8A9;
}
#framecontent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /*Height of frame div*/
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
    background-color: #83AF9B;

    color: white;
}
#canvas {
    background-color: #fff;
    border-style: solid;
}

#maincontent{
    position: fixed;
    top: 70px;
     /*Set top value to HeightOfFrameDiv*/
    left: 0;
    right: 0;
    bottom: 0;
    overflow:hidden;

    margin: 30px;
    background-color: #31708f;
}
#rightcolumn{
    float: left;
    margin: 10px;
    width: 200px; /*Width of right column*/
    margin-left: -200px; /*Set left margin to -(RightColumnWidth) */
    background: #FDE95E;
}
.canvas_container{
    width: 100%;
    height:100%;
    overflow:hidden;
    background-color: #31708f;
    z-index: -1;
}